In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Assignment 2 - Task 2
---------------

In [6]:
data = {
    't1': set(['coffee', 'milk', 'sugar', 'eggs', 'bread']),
    't2': set(['bread', 'coffee', 'butter', 'milk', 'eggs']),
    't3': set(['sugar', 'cheese', 'cream', 'ham', 'salt']),
    't4': set(['eggs', 'cheese', 'apples', 'bread', 'butter']),
    't5': set(['apples', 'bread', 'eggs', 'butter', 'tea']),
    't6': set(['cheese', 'bread', 'coffee', 'milk', 'tea']),
    't7': set(['apples', 'salt', 'butter', 'ham', 'coffee']),
    't8': set(['salt', 'butter', 'bread', 'ham', 'apples'])
}

## a)

In [28]:
def Jaccard_dists(data):
    """Compute pairwise Jaccard distances for each pair in data"""
    res = {}
    M = np.empty((8, 8))
    for i, (t1, S1) in enumerate(data.items()):
        for j, (t2, S2) in enumerate(data.items()):
            if S1 != S2 and (t2, t1) not in res.keys():
                d_J = 1 - (len(list(S1.intersection(S2))) / len(list(S1.union(S2))))
                res[(t1, t2)] = np.round(d_J, 2)
                M[i, j] = np.round(d_J, 2)
    return res, M.T

pjd, M = Jaccard_dists(data)
pjd

{('t1', 't2'): 0.33,
 ('t1', 't3'): 0.89,
 ('t1', 't4'): 0.75,
 ('t1', 't5'): 0.75,
 ('t1', 't6'): 0.57,
 ('t1', 't7'): 0.89,
 ('t1', 't8'): 0.89,
 ('t2', 't3'): 1.0,
 ('t2', 't4'): 0.57,
 ('t2', 't5'): 0.57,
 ('t2', 't6'): 0.57,
 ('t2', 't7'): 0.75,
 ('t2', 't8'): 0.75,
 ('t3', 't4'): 0.89,
 ('t3', 't5'): 1.0,
 ('t3', 't6'): 0.89,
 ('t3', 't7'): 0.75,
 ('t3', 't8'): 0.75,
 ('t4', 't5'): 0.33,
 ('t4', 't6'): 0.75,
 ('t4', 't7'): 0.75,
 ('t4', 't8'): 0.57,
 ('t5', 't6'): 0.75,
 ('t5', 't7'): 0.75,
 ('t5', 't8'): 0.57,
 ('t6', 't7'): 0.89,
 ('t6', 't8'): 0.89,
 ('t7', 't8'): 0.33}

In [26]:
pd.DataFrame(M, columns=data.keys(), index=data.keys())

      t1    t2    t3    t4    t5    t6    t7    t8
t1  0.00  0.33  0.89  0.75  0.75  0.57  0.89  0.89
t2  0.33  0.00  1.00  0.57  0.57  0.57  0.75  0.75
t3  0.89  1.00  0.00  0.89  1.00  0.89  0.75  0.75
t4  0.75  0.57  0.89  0.00  0.33  0.75  0.75  0.57
t5  0.75  0.57  1.00  0.33  0.00  0.75  0.75  0.57
t6  0.57  0.57  0.89  0.75  0.75  0.00  0.89  0.89
t7  0.89  0.75  0.75  0.75  0.75  0.89  0.00  0.33
t8  0.89  0.75  0.75  0.57  0.57  0.89  0.33  0.00

## b)

In [15]:
{k: v for k, v in sorted(pjd.items(), key=lambda item: item[1])},

{('t1', 't2'): 0.33,
 ('t4', 't5'): 0.33,
 ('t7', 't8'): 0.33,
 ('t1', 't6'): 0.57,
 ('t2', 't4'): 0.57,
 ('t2', 't5'): 0.57,
 ('t2', 't6'): 0.57,
 ('t4', 't8'): 0.57,
 ('t5', 't8'): 0.57,
 ('t1', 't4'): 0.75,
 ('t1', 't5'): 0.75,
 ('t2', 't7'): 0.75,
 ('t2', 't8'): 0.75,
 ('t3', 't7'): 0.75,
 ('t3', 't8'): 0.75,
 ('t4', 't6'): 0.75,
 ('t4', 't7'): 0.75,
 ('t5', 't6'): 0.75,
 ('t5', 't7'): 0.75,
 ('t1', 't3'): 0.89,
 ('t1', 't7'): 0.89,
 ('t1', 't8'): 0.89,
 ('t3', 't4'): 0.89,
 ('t3', 't6'): 0.89,
 ('t6', 't7'): 0.89,
 ('t6', 't8'): 0.89,
 ('t2', 't3'): 1.0,
 ('t3', 't5'): 1.0}